.product-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top:50px ;
    gap: 30px;
}
.item-show{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top:50px ;
    gap: 30px;
}
.main-product-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 660px){
    .product-items{
        display: grid;
        grid-template-columns: 1fr ;
        margin-top:50px ;
        gap: 30px;
    }
    .item-show{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top:50px ;
        gap: 30px;
    }
}